
  .chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
  }

  .chart-item {
    text-align: center;
  }

  canvas {
    width: 100%;
    max-width: 300px; /* Limita el ancho máximo */
    max-height: 300px; /* Limita la altura máxima */
    margin: 0 auto; /* Centra el canvas dentro del contenedor */
  }

