<div class="chart-container" style="margin-top: 90px;">
  <div class="chart-item">
    <h3>Respuestas contestadas y no contestadas</h3>
    <canvas id="answeredStatusChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Mayor reputación</h3>
    <canvas id="highestReputationChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Respuesta con menor número de vistas</h3>
    <canvas id="lowestViewsChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Respuesta más vieja y más actual</h3>
    <canvas id="oldestNewestChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Respuesta con menor número de vistas</h3>
    <canvas id="leastViewedChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Aeropuerto con Mayor Movimiento</h3>
    <canvas id="aeropuertoMayorMovimientoChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Aerolínea con Mayor Vuelos</h3>
    <canvas id="aerolineaMayorVuelosChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Día con Mayor Vuelos</h3>
    <canvas id="diaMayorVuelosChart"></canvas>
  </div>

  <div class="chart-item">
    <h3>Aerolíneas con Más de 2 Vuelos</h3>
    <canvas id="aerolineasMasDe2VuelosChart"></canvas>
  </div>
</div>
